*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
main{
    display: flex;
}
nav{
    background-color: black;
    color: grey;
    height: calc(100vh - 100px);
    width: 200px;
}
nav img{
    width: 150px;
    height: 100px;
    margin: 0 auto;
    padding: 0;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
}
.spaced{
   
}

div.flex-col ul li{
    margin-bottom: 0.5rem;
    list-style-type: none;
}
.flex-col b{
    color: white;
    margin-left: 0.5rem;
    font-size: 20px;
}
main section h3{
    margin: 0.8rem 0;
    color: white;
}
section.main-part{
    background-color:#141922;
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    color: #7b7e82;
    overflow: auto;
}
section.main-part div.upgrade{
    background-color: #080b12;
    height: 100px;
    position: relative;
}
div.main-header{
    margin-top: 1rem;
}
div.main-header ul.flex{
    list-style-type: none;
    justify-content: center;
    margin: 0.5rem;
    flex-wrap: wrap;
}
div.main-header ul.flex li{
    margin-right: 0.8rem;
    margin-top: 1rem;
}
section.main-part div.upgrade button{
    background-color:#080b12;
    border: 1px solid white;
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 30px;
    position: absolute;
    right: 10px;
    bottom: 30px;
}
div.main-body{
    margin-left: 1rem;
    overflow: auto;
}
div.main-body h2{
    color: white;
    margin: 2rem 0;
}
div.main-body h4{
    margin-bottom: 2rem;
}
div.main-body section.songs{
    display: flex;
    flex-wrap: wrap;
}
div.main-body section.songs div.single{
    text-align: center;  
    margin-right: 1.2rem;
    width: calc(100% / 6 - 1.2rem); 
}
div.main-body section.songs div.single img{
    width: 100%;
}
div.artists section.songs div.single img{
    border-radius: 50%;
}

footer{
    background-color: #282828;
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    color: #7b7e82;
}
footer section img{
    width: 50px;
    height: 50px;
    margin-left: 1rem;
}
footer section div h3{
    color: white;
}
footer section div h4{
    color:#7b7e82;
}
div.padding{
    padding-left: 1rem;
    margin-top: 0.5rem;
}
.mini-logo{
    font-size: 1.5rem;
    margin: 0 auto;
}

/* Laptopo/Desktop dimension */


/* Tablet dimension */
@media screen and (max-width: 768px) {
    div.main-body section.songs div.single{
        width: calc(100% / 4 - 1.2rem); 
    }
    div.main-body{
        font-size: 0.7rem;
    }
    
}

/* Phone dimension */
@media screen and (max-width: 503px) {
    nav{
        width: 50px;
    }
    section.main-part{
        width: calc(100vw - 50px);
    }
    nav section h3{
        display: none;
    }
    div.main-body section.songs div.single{
        width: calc(100% / 2 - 1.2rem); 
    }
}
