*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
}
nav{
    background-color: black;
    color: grey;
    height: calc(100vh - 100px);
    width: 220px;
}

footer{
    background-color: darkgrey;
    height: 100px;
    width: 100vw;
}
section.main-part{
    background-color: darkblue;
    width: calc(100vw - 220px);
}
section.main-part div.upgrade{
    background-color: grey;
    height: 100px;
}
@media screen and (max-width: 460px) {
    nav{
        width: 100px;
    }
    section.main-part{
        width: calc(100vw - 100px);
    }
}